/* ============================================================================
CSS Reset
===============================================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background: #525174;
    color: #fff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2 {
    font-family: 'Open Sans', sans-serif;
}
p {
    font-family: 'Karma', serif;
}
/* ============================================================================
Layout
===============================================================================*/
.container {
    margin: 0 auto;
}
/* ============================================================================
Buttons
===============================================================================*/
.button-container {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    grid-gap: 30px;
    justify-content: center;
    margin-top: 30px;
}
.btn {
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #BCE784;
    color: #fff;
    padding: 5px 35px;
    transition: .5s;
    border-radius: 3px;
    text-decoration: none;
}
.btn:hover {
    background: #BCE784;
    color: #000;
    border: none;
    cursor: pointer;
}
/* ============================================================================
Introduction
===============================================================================*/
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    line-height: 40px;
    text-align: center;
    animation: 3s ease-in-out 0s 1 fade;
}
.intro .bg {
    background: url('../images/background-min.jpeg') center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .2;
}
.intro h1, .h1-description {
    font-size: 3em;
    margin-bottom: 10px;
}
/* ============================================================================
Social media icons
===============================================================================*/
.social-media {
    display: grid;
    grid-template: 1fr / repeat(3, 50px);
    grid-gap: 30px;
    justify-content: center;
    margin-top: 30px;
}
.social-media i {
    color: rgba(255, 255, 255, .5);
    transition: .8s;
    animation: 2s ease-out 0s 1 fade;
}
.social-media i:hover {
    color: #fff;
    transform: scale(1.2);
}
.sm--mail { 
    grid-column: 1;
}
.sm--github {
    grid-column: 2;
}
.sm--linkedin {
    grid-column: 3;
}
/* ============================================================================
Projects
===============================================================================*/
.projects {
    background: #348AA7;
    color: #fff;
    min-height: 100vh;
    padding: 20px 0;
}
.projects h2 {
    font-size: 2em;
    text-align: center;
    padding: 30px;    
}
/* ============================================================================
Cards
===============================================================================*/
.card {
    background: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #000;
    transition: .3s;
    margin: 10px 0;
    line-height: 1.5em;
}
.card:hover {
    transform: scale(1.1);
}
.card__logo img {
    width: 100%;
}
.card__body {
    padding: 10px 30px;
}
.card__links {  
    display: grid;
    grid-template: 1fr / repeat(2, 50px);
    justify-content: center;
    margin-top: 5%;
}
.card__links a {
    color: #007bff;
    opacity: .5;
}
.card__links a:hover {
    opacity: 1;     
}
/* ============================================================================
Featured Projects
===============================================================================*/
.featured {
    display: grid;
    grid-template: 1fr / repeat(2, 40%);
    grid-gap: 50px;
    justify-content: center;    
}
/* ============================================================================
Other Work
===============================================================================*/
.work {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    grid-gap: 50px;
    margin: 0 50px;
}
.description {
    padding: 10px 0;
}
.description a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
.description a:hover {
    text-decoration: underline;
}
/* ============================================================================
Footer
===============================================================================*/
footer {
    min-height: 100px;
    background: #525174;
    color: #fff;
}

footer p {
    text-align: center;
    margin: 30px 0;
}

footer span.small-text {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #fff;
    opacity: .8;
}
/* ============================================================================
Media queries
===============================================================================*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { /* Smartphones */
    .button-container {
        display: grid;
        grid-template: repeat(2, 1fr) / 1fr;
    }
    .work {
        display: grid;
        grid-template: repeat(4, 1fr) / 1fr;
        margin: 0;
    }
    .featured {
        display: grid;
        grid-template: repeat(2, 1fr) / 1fr;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { /* Tablets */
    .button-container {
        display: grid;
        grid-template: repeat(2, 1fr) / 1fr;
    }
    .work {
        display: grid;
        grid-template: repeat(4, 1fr) / 1fr;
        margin: 0;
    }
    .featured {
        display: grid;
        grid-template: repeat(2, 1fr) / 1fr;
    }
}
/* ============================================================================
CSS3 Animations
===============================================================================*/
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}